@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap');

/* FONTS */
$font-main: 'Raleway', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

/* FONT WEIGHT */
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semiBold: 600;
$font-weight-bold: 800;

/* FONT VERTICAL SEPARATION */
$line-height-regular: 1.5;

/** FONT SIZE */

$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-ms: 16px;
$font-size-m: 18px;
$font-size-ml: 20px;
$font-size-l: 24px;
$font-size-xl: 28px;
$font-size-xxl: 32px;

/* SPACING */
$spacing-xxxs: 2px;
$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-s: 12px;
$spacing-sm: 16px;
$spacing-m: 20px;
$spacing-ml: 24px;
$spacing-l: 28px;
$spacing-xl: 32px;
$spacing-xxl: 36px;
$spacing-xxxl: 40px;

/** COLORS */
$color-white: #fff;
$color-light-gray: #ddd;
$color-black: #000;
$color-background-white: #fff;
$color-text-main: #333;
$color-text-title: #444;
$color-text-gray: #555;
$color-text-gray-light: #777;
$color-border-gray: #ddd;
$color-background-lightGray: #f7f7f7;
